@mixin is-mobile {
  gap: 0 !important;
  .page-header {
    height: 48px;
    padding: 0 16px;
    background: #ffffff;
    margin-bottom: 0;
  }
  .page-title {
    font-size: 16px;
    flex: 1;
    color: var(--primary-color);
  }
  .page-title-extra {
    flex: none;
  }
  .page-inner {
    box-sizing: border-box;
    --content-height: calc(var(--page-inner-height) - 24px);
    padding: 12px;

    &:after {
      content: '';
      display: block;
      height: var(--toolbar-height);
    }

    &.no-padding {
      --content-height: var(--page-inner-height);
      padding: 0;
    }
  }
}

@media (max-width: 768px) {
  .page {
    @include is-mobile;
  }
}

.page {
  &.is-mobile {
    @include is-mobile;
  }
}

.page-title-outer {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.page-header {
  margin-bottom: 12px;
}

.page-title {
  font-size: 20px;
  font-weight: 500;
}

.page-inner {
  --content-height: var(--page-inner-height);
  min-height: calc(var(--page-inner-height) + var(--toolbar-height));
  display: flex;
  flex-direction: column;
  flex: 1;
}

.page-title-extra {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  max-width: 50%;
}

.page-loading {
  width: 100%;
  background: #fff;
  padding: 12px;
  border-radius: 12px;
}

.page-top {
  display: block;
  width: 100%;
  padding-top: var(--safe-area-inset-top);
}

.page-bottom {
  display: block;
  width: 100%;
  padding-bottom: var(--safe-area-inset-bottom);
}

.back-icon {
  display: block;
  transform: rotate(180deg);
}
