@mixin is-mobile {
  gap: 0 !important;
  .page-header {
    height: 48px;
    padding: 0 16px;
    background: #ffffff;
  }
  .page-title {
    font-size: 16px;
    flex: 1;
    color: var(--primary-color);
  }
  .page-title-extra {
    flex: none;
  }
  .page-inner {
    padding: 12px;
    --content-height: calc(var(--page-content-height) - 48px - 24px);
  }
}

@media (max-width: 768px) {
  .page {
    @include is-mobile;
  }
}

.page {
  &.is-mobile {
    @include is-mobile;
  }
}

.page-title {
  font-size: 20px;
  font-weight: 500;
}

.page-inner {
  --content-height: calc(var(--page-content-height) - 48px - 60px);
  min-height: var(--content-height);

  &.no-padding {
    padding: 0;
  }
}

.page-title-extra {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

.back-icon {
  display: block;
  transform: rotate(180deg);
}
