@mixin is-mobile {
  gap: 0 !important;
  .page-header {
    height: 48px;
    padding: 0 16px;
    background: #ffffff;
  }
  .page-title {
    font-size: 16px;
    flex: 1;
    color: var(--primary-color);
  }
  .page-title-extra {
    flex: none;
  }
  .page-inner {
    box-sizing: border-box;
    padding: 12px;
    --content-height: calc(var(--page-inner-height) - 24px);

    &:after {
      content: '';
      display: block;
      height: var(--toolbar-height);
    }
  }
  &.no-padding .page-inner {
    --content-height: var(--page-inner-height);
  }
}

@media (max-width: 768px) {
  .page {
    @include is-mobile;
  }
}

.page {
  &.is-mobile {
    @include is-mobile;
  }

  &.no-padding .page-inner {
    padding: 0;
  }
}

.page-title-outer {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.page-title {
  font-size: 20px;
  font-weight: 500;
}

.page-inner {
  --content-height: var(--page-inner-height);
  min-height: calc(var(--page-inner-height) + var(--toolbar-height));
  display: flex;
  flex-direction: column;
}

.page-title-extra {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  max-width: 50%;
}

.back-icon {
  display: block;
  transform: rotate(180deg);
}
