@mixin common-style {
  :global {
    .ant-tag {
      background: var(--primary-color-1);
      border-radius: 11px;
      color: var(--font-color-grey);
    }

    .ant-segmented {
      border: 1px solid #d1d5db;
      border-radius: 17px;
      background: transparent !important;

      .ant-segmented-item,
      .ant-segmented-thumb {
        border-radius: 14px;
      }

      .ant-segmented-item.ant-segmented-item-selected,
      .ant-segmented-thumb {
        background: var(--primary-color) !important;
        color: #fff !important;
      }

      .ant-segmented-item:after {
        background: transparent !important;
      }
    }

    .filter .filter-title {
      border-bottom: none;
    }

    .react-form {
      .ant-card {
        max-width: 900px;
        margin: 0 auto;
        width: 100%;
      }
    }

    .max-width-info-page {
      max-width: 900px;
      margin: 0 auto;
      width: 100%;
    }

    .part.bordered {
      background: #ffffff70 !important;

      .part-title {
        font-size: 16px;
      }
    }

    .ant-pagination-options-size-changer {
      background: #ffffff70 !important;
    }

    .ant-tree {
      background: #ffffff70 !important;
    }

    .ant-table,
    .ant-table-placeholder {
      background: #ffffff70 !important;
    }

    .ant-table-cell,
    .ant-table-wrapper .ant-table-tbody > tr > td.ant-table-cell {
      padding: 4px 8px;
    }

    .ant-table-wrapper .ant-table-thead > tr > th.ant-table-cell {
      padding: 6px 16px;
      font-weight: 400 !important;
      color: var(--font-color-grey);
    }
  }
}

@mixin is-mobile {
  width: 100%;
  padding: 0;
  overflow: hidden;
  height: unset;
  min-height: var(--window-height);
  --page-height: 100vh;
  --page-content-height: var(--page-height);
  --page-inner-height: calc(var(--page-height) - var(--nav-height) - var(--toolbar-height));
  &.has-toolbar {
    --toolbar-height: 60px;
  }
  &.has-navbar {
    --nav-height: 48px;
  }
  .menu {
    position: absolute;
    left: calc(var(--menu-min-width) * -1);
    z-index: 900;
    background: var(--background);
    height: 100%;

    &.open {
      left: 0;
      box-shadow: 0 -2px 22.9px 0 rgba(78, 96, 139, 0.13);
    }
  }
  .layer-menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 800;
    backdrop-filter: blur(10px);
    opacity: 0;
    pointer-events: none;
    transition: opacity 300ms;

    &.open {
      opacity: 1;
      pointer-events: auto;
    }
  }
  .ai-entry {
    display: none;
  }
  .page {
    border-radius: 0;
    border: 0;
  }
  .toolbar {
    display: block;
  }

  .page-children {
    padding: 0;
    overflow: visible !important;
    height: unset;
    // min-height: calc(var(--container-height) - var(--toolbar-height));
  }
}

@media (max-width: 768px) {
  .layout {
    @include is-mobile;
  }
}

.layout {
  --window-width: 100vw;
  --window-height: 100vh;
  --nav-height: 0px;
  --toolbar-height: 0px;
  --page-height: calc(var(--window-height) - 48px);
  --page-content-height: calc(var(--page-height) - 48px);
  --page-inner-height: calc(var(--page-height) - 48px - 60px);
  width: var(--window-width);
  height: var(--window-height);
  background: var(--background);
  box-sizing: border-box;
  padding: 24px 24px 24px 0;
  position: relative;
  @include common-style;

  &.is-mobile {
    @include is-mobile;
  }

  .toolbar {
    display: none;
  }

  :global {
    .ant-btn {
      &:not(.ant-btn-primary):not(.ant-btn-dangerous):not(.ant-btn-link):not(.ant-btn-dashed):not(.ant-btn-text):not(:disabled) {
        background: var(--primary-color-2);
        color: var(--primary-color);
      }

      &:not(.ant-btn-link):not(.ant-btn-dashed):not(.ant-btn-text):not(:disabled) {
        border: 1px solid rgba(255, 255, 255, 0.1) !important;
        box-shadow:
          0 5px 10px 0 rgba(0, 0, 0, 0.05),
          0 15px 30px 0 rgba(0, 0, 0, 0.08);
        backdrop-filter: blur(10px);

        &:hover:not(:disabled):not(.ant-btn-loading) {
          backdrop-filter: blur(40px) saturate(1.5) brightness(1.2);
          transform: scale(1.04);
        }
      }

      &:active:not(.ant-btn-loading) {
        box-shadow: none !important;
        transform: scale(1);
      }

      &:disabled {
        box-shadow: none;
        color: var(--font-color-disabled);
        background: rgba(17, 24, 39, 0.2);
      }

      &.ant-btn-primary:not(:disabled) {
        box-shadow:
          0 5px 10px 0 rgba(0, 0, 0, 0.05),
          0 15px 30px 0 rgba(0, 0, 0, 0.08);
      }

      &.ant-btn-loading {
        opacity: 0.6;
      }

      position: relative;

      .ant-btn-loading-icon {
        position: absolute;
      }
    }
  }
}

.menu {
  flex: none;
  transition: width 0.3s;
  position: relative;

  &.open {
    width: var(--menu-max-width);
  }

  &:not(.open) {
    width: var(--menu-min-width);

    .menu-inner {
      padding: 0 16px;
    }

    .logo {
      padding: 8px 16px;
      justify-content: center;
    }

    .menu-header {
      padding: 12px 0;
      border: none;
      background: none;
      justify-content: center;
    }
  }
}

.logo {
  padding: 8px 24px;
  display: flex;
  justify-content: flex-start;

  img {
    height: 24px !important;
    object-fit: contain;
    max-width: 100%;
  }
}

.logo-img {
  display: flex;
  align-items: center;
}

.expand-btn-wrapper {
  position: absolute;
  right: -10px;
  top: 20px;
  z-index: 999;
  cursor: pointer;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s;

  &:hover {
    transform: scale(1.2);
  }
}

.expand-btn-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.5s;
}

.expand-btn {
  transition: transform 0.3s;

  &:global(.is-closed) {
    transform: scaleX(-1);
  }
}

.menu-inner {
  padding: 0 8px 0 16px;
  margin-top: 12px;
}

.menu-header {
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(10px);
  min-height: 40px;
  padding: 12px 16px;
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
}

.username {
  font-weight: 500;
}

.user-description {
  font-size: 12px;
  color: var(--font-color-grey);
}

.page {
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.86) 0%, rgba(255, 255, 255, 0.72) 100%);
  box-shadow:
    0 5px 10px 0 rgba(0, 0, 0, 0.05),
    0 15px 30px 0 rgba(0, 0, 0, 0.08),
    0 20px 40px 0 rgba(0, 0, 0, 0.08);
  backdrop-filter: blur(10px);
  min-width: 0;
}

.menu-list {
  margin-top: 16px;
}

.ai-entry {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 16px;
  padding: 12px;
  font-size: 24px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(40px);
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(40px) saturate(1.5);
    transform: scale(1.1);
  }
}

.ai-dialog-window {
  --container-width: 400px;
  --container-height: 400px;
  --container-base-width: var(--container-width);
  --container-base-height: var(--container-height);
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  border-radius: 8px;
  width: var(--container-width);
  height: var(--container-height);
  position: absolute;
  bottom: 24px;
  left: 16px;
  box-shadow:
    0 5px 10px 0 rgba(0, 0, 0, 0.05),
    0 15px 30px 0 rgba(0, 0, 0, 0.08);
  transition: box-shadow 0.3s;
  @keyframes pulse-dialog-window {
    0%,
    100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.02, 0.98);
    }
  }

  &:hover {
    animation: pulse-dialog-window 0.4s ease-out;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px) saturate(1.5);
    box-shadow:
      0 5px 10px 0 rgba(0, 0, 0, 0.05),
      0 15px 30px 0 rgba(0, 0, 0, 0.08),
      0 20px 40px 0 rgba(0, 0, 0, 0.08);
  }
}

.page-dialog-outer {
  padding: 24px 0 24px 24px;
}

.page-dialog {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 8px;
  height: 100%;
  transition: box-shadow 0.3s;
  @keyframes pulse-page-dialog {
    0%,
    100% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.01, 0.99);
    }
  }

  &:hover {
    backdrop-filter: blur(40px) saturate(1.2);
    animation: pulse-page-dialog 0.4s ease-out;
    box-shadow:
      0 5px 10px 0 rgba(0, 0, 0, 0.05),
      0 15px 30px 0 rgba(0, 0, 0, 0.08),
      0 20px 40px 0 rgba(0, 0, 0, 0.08);
  }
}

.page-window-content {
  --container-height: calc(var(--page-content-height) - 58px);
  height: var(--container-height);
}

.page-children {
  --container-height: calc(var(--page-content-height) - 48px);
  padding: 24px;
  box-sizing: border-box;
  height: var(--page-height);

  &.is-scroller {
    overflow-y: auto;
  }
}

.page-content {
  width: 100%;
}

.ai-dialog-window-title {
  height: 58px;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;

  :global(.btn) {
    font-size: 24px;
    color: var(--font-color-grey);
    cursor: pointer;
  }
}

.ai-dialog-window-content {
  --container-height: calc(var(--container-base-height) - 58px);
  height: var(--container-height);
}
